[submodule "frontend"]
	path = frontend
	url = https://github.com/SENODROOM/SocialLogics-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/SENODROOM/SocialLogics-Backend.git
